.all{
    border: 5px solid rgb(46, 1, 88);
    height: 500px;
    width: 500px;
    background-color: hsl(217, 54%, 11%);
}
.iam{
    background-color: hsl(216, 50%, 16%);
    width: 196px;
    display: inline-block;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin-top: 46px;;
}
p{
    color: hsl(215, 51%, 70%);
}
#them{
    color: hsl(178, 100%, 50%);
    font-size: 12px;
}
.tp{
    color: hsl(215, 51%, 70%);
    font-size: 13px;
}
#you{
    color: hsl(215, 51%, 70%);
}

.well{
    height: 200px;
    width: 190px;
}
.no{
    color:hsl(0, 0%, 100%);
    text-align: left;
    font-size: 13px;
}
.ro{
    height: 15px;
}
.ti{
    height: 15px;
}
.ll{
    text-align: left;
    font-size: 11px;
}
.yes{
   align-items: left;  
display: inline-block;
height: 15px;
margin-right: 0.5cm;
}
.love{
    height: 20px;
    display:inline-flex;
    margin-top: 5px;
    padding-top: 3px;
    text-decoration-line: overline underline;
    
}
.my{
    width: 85%;
    color:lightslategray;
    font-weight: 50px;
    font-size: small;
    font-display: 20px;
}


.to{
    color: hsl(0, 0%, 100%);
    font-size: 12px;
}